/*
* This files should contains all common variables to be used between *.scss files
* the _ in the name means it's a partial file dude! So it will not be generated as a _variable.css 👌
*/

/* mobicoop palette */
$mb-white: #FFF;
$mb-pink: #F13FA8;
$mb-green: #81F19A;
$mb-dark-green: #005933;

$main-font-color: #000;
$main-background-color: #FFF;
$second-background-color: #0FF;
$nav-background-color: $mb-green;
$footer-background-color: $mb-green;

/*
$partners: (
  mobicoop: (
    base: rgba(217, 0, 0, 0.5),
    url: 'www.roulezmalin.com'
  ),
  ouestgo: (
    base: rgba(54, 81, 255, 0.5),
    url: 'test.ouestgo.fr'
  ),
  itinisere: (
    base: rgba(102, 255, 76, 0.5),
    url: 'www.tedicov.fr'
  ),
  tictactrip: (
    base: rgba(255, 223, 211, 1),
    url: 'covoiturage-libre.fr'
  )
);
*/
